header {
  flex: 0;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
}
header, .mainContainer>aside {
  background-color: var(--bgBlack);
  color: white;
}
.mainContainer {
  display: flex;
  flex: 1;
  aside {
    min-width: 65px;
    padding: 50px 25px;
    .content {
      position: fixed;
      height: calc(100vh - 210px);
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 12px;
        font-weight: 500;
      }
      nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}
